# ignore
barchart/barchart_doc.aux
barchart/barchart_example.aux
barchart/barchart_doc.fdb_latexmk
barchart/barchart_example.fdb_latexmk
barchart/barchart_doc.log
barchart/barchart_example.log
barchart/barchart_doc.pdf alias
barchart/barchart_example.synctex.gz
barchart/barchart_doc.synctex.gz