barchart_doc.aux
barchart_example.aux
barchart_doc.fdb_latexmk
barchart_example.fdb_latexmk
barchart_doc.log
barchart_example.log
barchart_doc.pdf alias
barchart_example.synctex.gz
barchart_doc.synctex.gz